<script setup>
  import config from '../config.js'
  import { utc } from '../date.js'
  import PictureList from '../components/Picturelist.vue'
  import DateCounter from '../components/DateCounter.vue'
  import { useHead } from '@unhead/vue'

  useHead({
    title: "Ana & Henri",
  })
</script>


<template>
  <div class="bg-gray-200 container mx-auto sm:my-4 md:my-16 sm:rounded-lg">
    <picture-list :pics="pics" class="sm:rounded-t-lg" />
    <div class="m-4">
      <h1 class="text-3xl">😘 Ana & Henri 😍</h1>
    </div>
    
    <div :key="d.name" v-for="d in dates">
      <h3 class="text-2xl m-4">{{d.name}}</h3>
      <date-counter :date="d.date" :now="now" />
    </div>
  </div>
</template>

<script>

  export default {
    data() {
      return {
        pics: config.pics,
        dates: config.dates.map(({name, date}) => ({name, date: utc(date)})),
        now: utc(new Date()),
      };
    },

    components: { PictureList, DateCounter },

    mounted() {
      setInterval(this.tick, 1000)
    },

    methods: {
      tick() {
        this.now = utc(new Date())
      },
    },
  }
  
</script>