<template>
  <div class="border-2 border-blue-200 bg-blue-100">
    <div class="flex justify-center bg-blue-200 font-mono text-3xl md:text-4xl lg:text-5xl">
      <div class="px-2">{{~~(num/10)}}</div>
      <div class="px-2">{{num%10}}</div>
    </div>
    <p class="text-center">{{item}}</p>
  </div>
</template>

<script>
  export default {
    props: ['num', 'item'],
  };
</script>