<script setup>
  import CounterItem from './CounterItem.vue'
  import { diff } from '../date.js'
</script>

<template>
  <div class="flex flex-wrap p-2">
    <counter-item class="sm:flex-grow m-2" :num="item.y" item="years"/>
    <counter-item class="sm:flex-grow m-2" :num="item.m" item="months"/>
    <counter-item class="sm:flex-grow m-2" :num="item.d" item="days"/>
    <counter-item class="sm:flex-grow m-2" :num="item.h" item="hours"/>
    <counter-item class="sm:flex-grow m-2" :num="item.n" item="minutes"/>
    <counter-item class="sm:flex-grow m-2" :num="item.s" item="seconds"/>
  </div>
</template>

<script>
    
  export default {
    computed: {
      item() {
        return diff(this.date, this.now)
      },
    },
    
    props: ['date', 'now']
  }
  
</script>
