<template>
  <div class="flex flex-nowrap overflow-x-hidden">
    <img v-for="pic in pics" :key="pic" :src="pic" class="object-cover flex-grow h-32 sm:h-40" />
  </div>
</template>

<script>
  export default {
    props: ['pics'],
  };
</script>
